# ignore .pyc that are always created automaticaly
*.pyc

# ignore virtualenvs
ENV/
venv/
venv_ubuntu/

#ignore settings and migrations
clubmap/clubmap/settings.py
clubmap/events/migrations
clubmap/events/migrations/**

# ignore emacs buffer files
*.*\~

.DS_Store

# ignore ipython notebook files (used for development)
*.ipynb
