{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}  Clubmap {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'events/css/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'events/css/main.css' %}">

        <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <script src="https://connect.soundcloud.com/sdk.js"></script>
        <script src="{% static 'events/js/mapStyle.js' %}"></script>
        {% block header_include %}
        {% endblock %}
        
    </head>
    <body id="top">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% block background %}
        {% endblock %}

        <div class="header-container">
            <header class="wrapper clearfix">
            	{% block header %}
            	<h1>The Clubmap</h1>
            	{% endblock %}
            </header>
        </div>

        {% block main %}
        <div class="main-container">

            <div class="main wrapper clearfix">

                here goes the maiin content

            </div> <!-- #main -->
        </div> <!-- #main-container -->
        {% endblock %}

        <div class="footer-container">
            <footer class="wrapper">
            	{% block footer %} 
            	{% endblock %}
            	<p id="copyright">&copy; Copyright by Alan Höng & Talmaj 2014</p>                
            </footer>
        </div>

       <!--
       	<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
       -->
    </body>
</html>        
