html,body,#alan{
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#000;
	color:#fff;
}

div.ctrl{
	width:100%;
	height:60px;
	float:left;
	/*overflow: hidden;*/
}
div.btn.play{
	font-weight:bold;
	font-size:30px;
	margin: 12px 0px;
	height:32px;	
}
div.btn {
	height: 20px;
	width: 60px;
	float: left;
	text-align: center;
	margin: 20px 0px;
}

div.timeline{
	height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
}

div.timeline .waveform{
	height:100%;
	width:100%;
	position:relative;
	top:-60px;
}
div.timeline .progress{
	height: 100%;
	position: relative;
	width: 100%;
}
#playlist > div.playlist{
	position:absolute;
	left:15px;
	right:15px;
}
.playlist li.track, div.event_info {
    background-color: rgb(50,50,50);
    color: #fff;
    float: left;
    clear: left;
    display: inline-block;
    /* height: 32px; */
    margin: 0px 5px;
    /*padding: 10px 10px;*/
    cursor: pointer;
    width: calc(100% - 10px);
    overflow:hidden;
}
.playlist li.track.odd{
	background-color:rgb(55,55,55);
}
.active .playlist li.track{
	background-color:#fff;
	color:black;
}
.active .playlist li.track.odd{
	background-color:#fafafa;
}
ul.playlist li:hover, ul.playlist li.track.odd:hover {
    background-color: #e3e3e3;
}
.active ul.playlist li.active, .active ul.playlist li.active.odd {
	background-color:rgb(255,50,102);
}
ul.playlist li.active span.t_title{
	font-weight:bold;
}

.track span.cm_player.index, .event_info span.index  {
    font-weight: bold;
    font-size: 20px;
    float: right;
    color: #555;
    margin-top:0.6em;
    margin-right:0.4em;
    margin-left: 1em;
}

span.cm_player.t_title, .event_info span.name {
	color:black;
	display:block;
    margin-left: 0.6em;
    margin-top: 0.2em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.playlist ul.playlist, ul.events{
	margin:0;
	padding:0;
	display:block;
	float:left;
	width:100%;
	overflow:hidden;
}


span.cm_player.artist, .event_info span.location {
	display:block;
    font-size: 12px;
    margin-left: 0.8em;
    margin-bottom: 0.4em;
    color:#555;
    clear:left;
    line-height:12px;
}

ul.events li.event{
	display:block;
	width:90%;
	float:right;
	padding-bottom:5px;
	background-color:rgb(0,0,0);
	margin-bottom:5px;
	position:relative;
}

ul.events li.event.hovered{
	width:100%;
}

ul.events li.event.active{
	width:100%;
	background-color: rgb(235,235,235);
}

div.event_info{
	margin: 0px 0px;
	background-color: transparent;
	color: #fafafa;
	width:100%;
	position:relative;
}

.active div.event_info{
	color:white;
}

.event_info span.index, .event_info span.name {
	color: white;
}

.active .event_info span.index, .active .event_info span.name {
	color: black;
}
.event_info span.index{
	margin-top:0.4em;
	margin-right:0.7em;
}

.event_info span.name{
	margin-top:0.2em;
	margin-left:0.7em;	
}

.event_info span.location{
	margin-left:0.9em;
	margin-bottom:0.5em;
}
